<strong>Olá, {{ provider }}</strong>
<p>Houve uma nova inscrição na meetup em que você organiza, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong> {{user}} <br />
  <strong>Meetup: </strong> {{meetup}} <br />
  <strong>Data/Hora: </strong>{{date}} <br />
  <strong>Local: </strong>{{location}} <br />
  <br />
</p>
